html {
  background-color: #ffcad4;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: solid;
  border-color: #eadbdd;
  text-align: center;
  background-color: #fcd5ce;
}

body {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffcad4;
}

p {
  text-align: left;
  margin-top: 5pt;
  margin-bottom: 10pt;
}
.colourText {
  color: lightcoralx ;

}

.strong {
  font-size: large;
  font-weight: bold;
}
#container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

#item {
  flex: 1 1 50%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fcd5ce;
}
#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-container img {
  max-width: 100%;
  height: auto;
}

.smaller-image {
  width: 500px;
  height: 500px;
}

.small-scale-image {
  width: 40%;
  height: 40%;
}

@media (max-width: 768px) {
  #item {
    flex: 1 1 100%;
  }
}
